{% import 'macros/form.html' as form %}

{% set exists = [] %}
{% for item in data.extras %}
  {% if item.key == mc.key %}
    {% do exists.append(item.value) %}
      {% endif %}
{% endfor %}

{% if exists %}
  existing
  {% set daten=exists[0] %}
{% else %}
  {% set daten=mc.opt_value.checked %}
{% endif %}

<div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
  <label class="control-label" for="{{ for }}">{% if is_required %}
    <span title="{{ _("This field is required") }}"
          class="control-required">*
    </span> {% endif %}{{ mc.label or ('')}}
  </label>

  {{ form.checkbox(
  mc.key,
  id='field-' + mc.key,
  label=mc.opt_value.helptext,
  checked=daten,
  value='true'
  ) }}

</div>
