{% import 'macros/form.html' as form %}

{% snippet 'package/snippets/metaconf-title.html', data=data,
errors=errors, form=form %}

{% snippet 'package/snippets/metaconf-standard-url.html', data=data,
errors=errors, form=form %}

{% snippet 'package/snippets/metaconf-organization.html', data=data, errors=errors, form=form, groups_available=groups_available, mc=mc_element %}
{% for mc_element in metaconf_blocks %}

{{mc_element.type}} <br>

  {% if mc_element.type == 'input' %}
    {% snippet 'package/snippets/metaconf-input.html', data=data,
    errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'url' %}
  {% snippet 'package/snippets/metaconf-url.html', data=data,
  errors=errors, form=form, mc=mc_element %}
  
{% elif mc_element.type == 'tags' %}    
  {% snippet 'package/snippets/metaconf-tags.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'markdown' %}    
  {% snippet 'package/snippets/metaconf-markdown.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'inputpart' %}    
  {% snippet 'package/snippets/metaconf-inputpart.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'date' %}    
  {% snippet 'package/snippets/metaconf-date.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'checkbox' %}    
  {% snippet 'package/snippets/metaconf-checkbox.html', data=data,
  errors=errors, form=form, name=name, mc=mc_element %}

{% elif mc_element.type == 'textarea' %}    
  {% snippet 'package/snippets/metaconf-textarea.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'select' %}    
  {% snippet 'package/snippets/metaconf-select.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% elif mc_element.type == 'hidden' %}

  {% snippet 'package/snippets/metaconf-hidden.html', data=data,
  errors=errors, form=form, mc=mc_element %}

{% endif %}
{% endfor %}  


{# {% for this in h.metaconf_creation_schema %} #}
{#   {{this}} <br> #}
{#   {% if h.metaconf_creation_schema[this] is iterable() %} #}
{#     <blockquote> #}
{#       {% for that in h.metaconf_creation_schema[this] %} #}
{#         {{that}} <br> #}
{#       {% endfor %} #}
{#     </blockquote> #}
{#   {% endif %} #}
{# {% endfor %} #}

