{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix':
domain, 'data-module-placeholder': '<dataset>'} %}

{{ form.prepend(
'%s' % mc.name,
id='%s' % mc.id,
label=_('%s') % mc.label,
prepend=prefix,
placeholder=_('%s') % mc.opt_value.name,
value=data.name,
error=errors.name,
attrs=attrs,
is_required=false) }}

